$blue: #1f82b5 !default;
$orange: #ff915e !default;
$cyan: #33ffff !default;
$green: #6eab47 !default;
$red: #e52e3d !default;

$dark: #242424;
$dark-grey: #383838;
$mid-grey: #747474;
$light-grey: #b9b9b9;
$white: #ffffff;

$primary: $blue !default;
$secondary: $mid-grey !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: $light-grey !default;
$dark: $dark-grey !default;

//$google_font_name: "Montserrat";
//$google_font_family: "Montserrat:300,300i,400,400i,700,700i";
//$body-bg: #101010;
//$body-color: #ababab;
