+++
title = "Konstellation"
linkTitle = "Konstellation"

+++

{{< blocks/cover title="" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<img src="./kst-logo.png" style="margin-bottom: 100px;">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/konstellation-io/kre">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">The open-source software to build, deploy and evolve A.I. at any scale</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}


<b>What is Konstellation?</b>

Konstellation is a set of tools dedicated to making artificial intelligence (AI) solutions from lab to production.
Our goal is to provide the best way to develop and deploy AI solutions on Kubernetes.


{{% /blocks/lead %}}



{{< blocks/section color="blue" >}}

{{% blocks/feature icon="fas fa-robot" title="Easy to use" %}}
Konstellation covers properly the right process to build, deploy and evolve AI solutions.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-grin-hearts" title="Sophisticated UI" %}}
Konstellation is giving attention to the user interface that humans must use every day in their jobs to work efficiently and ensuring the reliability of their results.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cloud-upload-alt" title="Deploy at any scale" %}}
Konstellation uses Kubernetes so you can easily run into your laptop, server or even into a cloud like aws, Google Cloud, Azure...
{{% /blocks/feature %}}

{{< /blocks/section >}}
